#nav a.icon {
    margin: 0;
    /*margin: 0 0.1em;*/
}

#main>.panel.intro .pic:before {
    background-image: url("./images/irr-schema.webp");
}


/* Style the Image Used to Trigger the Modal */

.thumb {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.thumb:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    /*width: 80%;
    max-width: 700px;*/
    max-width: 100%;
    max-height: 90%;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        /*width: 100%;*/
    }
}

article#fourier table>tbody>tr>td img {
    width: 100%;
}

article#fourier table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

article#fourier table td,
article#fourier table th {
    border: 1px solid #ddd;
    /*padding: 8px;*/
    padding: 0.25em;
    text-align: center;
    vertical-align: middle;
}

article#fourier table tr:nth-child(even) {
    background-color: #f2f2f2;
}

article#fourier table tr:hover {
    background-color: #ddd;
}

article#fourier table th {
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    /*text-align: left;*/
    background-color: #5050AF;
    color: white;
}